#loco {
    max-width: 40% !important;
}
.col {
    padding: 0 !important;
}
#refresh {
    float:right;
}
#colname {
    text-transform:uppercase;
    color: #466581;
    margin: 13px 0 0 10px;
    display:block;
}